<mat-toolbar class = "mat-elevation-z8">
    <a mat-button routerLink = "/home" routerLinkActive = 'active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink = "/about" routerLinkActive = 'active'><span class="fa fa-info fa-lg"></span> About Me</a>
    <a mat-button routerLink = "/projects" routerLinkActive = 'active'><span class="fa fa-code fa-lg"></span> Projects</a>
    <a mat-button routerLink = "/utilities" routerLinkActive = 'active'><span class="fa fa-gear fa-lg fa-spin-hover"></span> Utilities</a>
    <a mat-button routerLink = "/games" routerLinkActive = 'active'>
      <span class="fa fa-gamepad fa-lg"></span> Inutilities
    </a>	
    <a mat-button routerLink = "/intro" routerLinkActive = 'active'><span class="fa fa-list fa-lg"></span> Known Tech</a>
    <a mat-button routerLink = "/contact" routerLinkActive = 'active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class = "flex-spacer"></span>
    <a mat-button (click) = "openFeedbackForm()"><span class = "fa fa-paper-plane fa-lg"></span> Feedback</a>
</mat-toolbar>