@import '../../variables';

.mat-toolbar {
    background-color: $background-medium-dark;
    color: $primary-text-color;
    top: 0;
    position: sticky;
    z-index: 999;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px !important;
}

::ng-deep.svg-inline--fa {
    vertical-align: middle !important;
}

::ng-deep.cdk-overlay-connected-position-bounding-box {
    top: 50px !important;
    left: 0px !important;
    width: 100vw !important;
}

::ng-deep.cdk-overlay-pane {
    top: 0px !important;
    left: 0px !important;
    width: 100vw !important;
}

::ng-deep.mat-menu-panel {
    width: 100vw !important;
    max-width: 100vw !important;
    border-radius: 0px !important;
}

a, button {
    font-weight: 700;
}

.fullButton {
    width: 100vw;
    border-radius: 0px;
}

.active {
    background-color: $background-medium;
}

.fa-spin-hover:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

