<div class = "container footer"
    fxLayout = "column"
    fxLayoutAlign = "center center"
    fxLayoutGap = "20px">
  <div fxFlex="100">
    <div style="text-align:center">
      <a mat-icon-button class = "btn-github" href = "https://github.com/rvl016">
        <i class = "fa fa-github fa-7x" style = "font-size: 44px;"></i>
      </a>
      <a mat-icon-button class = "btn-linkedin" 
        href = "https://www.linkedin.com/in/ravi-do-valle-luz-7ba779125/">
        <i class = "fa fa-linkedin fa-lg"></i>
      </a>
      <a mat-icon-button class = "btn-mail" href = "mailto:ravi.luz@usp.br">
        <i class = "fa fa-envelope-o fa-lg"></i>
      </a>
    </div>
  </div>
  <div>
    <p>Made by Ravi do Valle Luz</p>
  </div>
</div>
