<div class = "container footer"
    fxLayout = "row wrap"
    fxLayout.lt-md = "column"
    fxLayoutAlign = "center center"
    fxLayoutGap = "10px">
  <div fxFlex="100">
    <div style="text-align:center">
      <a mat-icon-button class="btn-github" href="http://www.github.com"><i class="fa fa-github fa-7x" style="font-size: 44px;"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:ravi.luz@usp.br"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
    <p>Made by Ravi do Valle Luz</p>
  </div>
</div>
