@import '../../variables';
@import '../../mixins';

.footer{
    background-color: $background-dark;
    @include zero-margin(20px, 0px);
    position: absolute;
    bottom: 0;
    width: 100%;
}


.btn-linkedin{
    color:#fff!important;
    background-color:#007bb6!important;
}
.btn-mail{
    color:#fff!important;
    background-color:#512DA8!important;
}