<div class = "darkBackground bottonPadding topPadding">
  <div class="standardMargin container"
    fxLayout = "column">
    <div class = "innerMargin" fxLayout = "column" fxLayoutGap = "20px">
      <div fxFlex = "100" fxLayoutAlign = "center center">
        <p class = "title">Projects</p>
      </div>
      <div fxFlex fxLayoutAlign = "center center">
        <p class = "subTitle">Made by me</p>
      </div>
    </div>
  </div>
</div>

<div class = "standardMargin bottonPadding verticalMargin"
>
  <div class = "innerMargin" fxLayout.xs = "column" fxLayout = "row wrap" 
    fxLayoutGap = "20px" ngClass.gt-xs = "ml-10">
    <ng-template ngFor let-project [ngForOf] = "projects" let-i = "index">
      <div fxFlex.gt-xs = "0 1 calc( 50% - 20px)" class = "projectCard">
        <mat-card fxLayout = "column">
          <mat-card-header>
            <mat-card-title class = "projectTitle">
              {{ project.name }}
            </mat-card-title>
          </mat-card-header> 
          <img class = "imgScaleDown" src = "{{ project.image }}" alt = "">
          <div fxFlex></div>
          <mat-card-content>
            <div class = "cardContainer" fxLayout = "column">
              <mat-chip-list>
                <mat-chip *ngFor = "let tech of project.usedTechs">
                  {{ tech }}
                </mat-chip>
              </mat-chip-list>
              <mat-divider class = "standardMatHDivider"></mat-divider>
              <p class = "projectDescription">{{ project.description }}</p>
            </div>
          </mat-card-content>
          <div class = "cardContainer" fxLayout = "row">
            <a mat-raised-button *ngIf = "project.ghLink" href = "{{ project.ghLink }}" target = "_blank">
              GitHub Page
            </a>
            <div fxFlex></div>
            <a mat-raised-button *ngIf = "project.tryItLink" 
              (click) = "tryProject( project.tryItLink)">
              Try it!
            </a>
          </div>
        </mat-card>
      </div>
    </ng-template>
    
    <!-- <mat-grid-list [cols] = "breakpointGridColumns"
      (window:resize) = "onResize( $event)" gutterSize = "10px" rowHeight = "fit">
      <mat-grid-tile *ngFor = "let project of projects">
     
      </mat-grid-tile>
    </mat-grid-list> -->
  </div>
</div>
