@import '../../variables';

mat-card {
  padding: 16px;
  color: $primary-text-color;
  background-color: $background-medium-dark;
}

.projectTitle {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
}

.projectDescription {
  font-size: 18px;
}

mat-chip, mat-chip-list {
  pointer-events: none !important;
}

mat-card-header {
  display: block;
  text-align: center;
}

.projectCard {
  margin: 10px !important;
}
/* ::ng-deep .mat-grid-tile .mat-figure {
   display: contents !important; 
} */

.standardMatHDivider {
  position: relative !important;
  margin: 10px auto 15px !important;
  display: block;
}

.mat-chip:hover {
  color: $primary-text-color;
  background-color: $background-light;
}

img {
  max-width: 100%;
  max-height: 250px;
  text-align: center;
  display: block;
}

.mat-card:not( [class*=mat-elevation-z]) {
  box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-raised-button {
  background-color: $background-dark;
  font-weight: 800;
}

.cardContainer {
  margin: 5px !important;
}

p {
  margin: 0 5px 0;
}

.mat-raised-button:hover {
  background-color: $background-darker;
}

