<div class = "darkBackground bottonPadding topPadding">
  <div class="standardMargin container"
    fxLayout = "column">
    <div class = "innerMargin" fxLayout = "column" fxLayoutGap = "20px">
      <div fxFlex = "100" fxLayoutAlign = "center center">
        <p class = "title">Contact Me</p>
      </div>
      <div fxFlex fxLayoutAlign = "center center">
        <p class = "subTitle">I currently live in São José dos Campos - Brazil</p>
      </div>
    </div>
  </div>
</div>

<div class = "standardMargin bottonPadding verticalMargin horizontalPadding">
  <div fxLayout = "column" fxLayoutGap = "20px" fxLayoutAlign = "start center"
    class = "innerMargin">
    <div>
      <h2>Where I live and how to reach me</h2> 
    </div>
    <div class = "centerText" fxLayout = "column" fxLayoutGap = "5px">
      <p>Jardim Esplanada, São José dos Campos</p>
      <p>São Paulo, Brazil</p>
      <p><i class="fa fa-phone fa-fw"></i>+55 11 9560 86446</p>
      <p><i class="fa fa-envelope fa-fw"></i>ravi.luz@usp.br</p>
    </div>
    <div fxLayoutGap = "10px">
      <a mat-icon-button class = "btn-linkedin" 
        href = "https://www.linkedin.com/in/ravi-do-valle-luz-7ba779125/">
        <i class = "fa fa-linkedin fa-lg"></i>
      </a>
      <a mat-icon-button class = "btn-mail" href = "mailto:ravi.luz@usp.br">
        <i class = "fa fa-envelope-o fa-lg"></i>
      </a>
      <a mat-icon-button class = "btn-phone" href = "tel:+5511956086446">
        <i class = "fa fa-phone fa-lg"></i>
      </a>
    </div>
  </div>
</div>