@import '../../variables';


.btn-linkedin {
  color: $primary-color-text!important;
  background-color:$background-darker!important;
}
.btn-mail {
  color: $primary-color-text!important;
  background-color:$background-darker!important;
}
.btn-phone {
  color: $primary-color-text!important;
  background-color:$background-darker!important;
}

p, h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

