@import '../../variables';

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

mat-card {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 16px;
  color: $primary-text-color;
  background-color: $background-medium-dark;
}

.mat-card:not( [class*=mat-elevation-z]) {
  box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

mat-divider {
  margin: 0 50px 20px !important;
}

mat-card-header {
  display: block !important;
  text-align: center !important;
}

mat-card-title {
  font-weight: 700 !important;
}

img {
  max-width: 100%;
  max-height: calc( 100% - 25px);
  text-align: center;
  display: block;
}