<div class = "darkBackground bottonPadding topPadding">
  <div class="standardMargin container"
    fxLayout = "column">
    <div class = "innerMargin" fxLayout = "column" fxLayoutGap = "20px">
      <div fxFlex = "100" fxLayoutAlign = "center center">
        <p class = "title">Utilities</p>
      </div>
      <div fxFlex fxLayoutAlign = "center center">
        <p class = "subTitle">In some deep nested sense those things are useful</p>
      </div>
    </div>
  </div>
</div>

<div fxLayout = "column" fxLayoutGap = "50px" fxLayoutGap.lt-sm = "20px" class = 
  "standardMargin bottonPadding verticalMargin">
  <img class = "imgScaleDown" src = "/assets/images/underConstruction.png">
</div>