<div class = "darkBackground bottonPadding topPadding">
  <div class="standardMargin container"
    fxLayout = "column">
    <div class = "innerMargin" fxLayout = "column" fxLayoutGap = "20px">
      <div fxFlex = "100" fxLayoutAlign = "center center">
        <p class = "title">Games</p>
      </div>
      <div fxFlex fxLayoutAlign = "center center">
        <p class = "subTitle">It's funner to learn by making games!</p>
      </div>
    </div>
  </div>
</div>

<div fxLayout = "column" fxLayoutGap = "30px" fxLayoutGap.lt-md = "20px" 
  class = "standardMargin verticalMargin"
>
  <div fxFlex class = "innerMargin" fxLayout = "column" fxLayoutGap = "50px">
    <mat-grid-list [cols] = "breakpointGridColumns" rowHeight = "200px"
      (window:resize) = "onResize( $event)">
      <mat-grid-tile *ngFor = "let game of games">
        <mat-card id = "{{ game.selector }}" (click) = "selectGame( $event)"
          class = "selectCard">
          <mat-card-header>
            <mat-card-title> {{ game.name }} </mat-card-title>
          </mat-card-header>
          <img class = "imgScaleDown" src = "{{ game.image }}" alt = "">
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider class = "standardMatHDivider"></mat-divider>
  </div>

  <div fxFlex class = "innerMargin" fxLayout = "column" 
    fxLayoutGap = "30px" *ngIf = "selectedGame">
    <p class = "title">{{ gameDetail.name }}</p>
    <div fxLayout = "row" fxLayout.lt-lg = "column" fxLayoutGap = "30px">
      <mat-card class = "gameCard">
        <app-snake *ngIf = "selectedGame == 'app-snake'"></app-snake>
        <app-maze-solver *ngIf = "selectedGame == 'app-maze-solver'"></app-maze-solver>
      </mat-card>
      <div *ngIf = "gameDetail.how2play != null" fxFlex fxLayoutGap = "15px">
        <div class = "infoTitleContainer ">
          <div fxFlex><mat-divider class = 
            "standardMatHDivider matHDividerLeft">
          </mat-divider></div>
          <div class = "infoTitle">How to Play</div>
          <div fxFlex><mat-divider class = 
            "standardMatHDivider matHDividerRight">
          </mat-divider></div>
        </div>
        <div *ngFor = "let paragraph of gameDetail.how2play" class = "infoText">
          <p class = "paragraph" [innerHTML] = "paragraph"></p>
        </div>
      </div>
    </div>
    <div *ngIf = "gameDetail.explanation != null" fxFlex fxLayoutGap = "15px">
      <div class = "infoTitleContainer ">
        <div fxFlex><mat-divider class = 
          "standardMatHDivider matHDividerLeft">
        </mat-divider></div>
        <div class = "infoTitle">Explanation</div>
        <div fxFlex><mat-divider class = 
          "standardMatHDivider matHDividerRight">
        </mat-divider></div>
      </div>
      <div *ngFor = "let paragraph of gameDetail.explanation" class = "infoText">
        <p class = "paragraph" [innerHTML] = "paragraph"></p>
      </div>
    </div>
  </div>
</div>
