/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'variables';
@import 'mixins';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
// some basic resets

html body {
  background-color: $background-medium!important;
  color: $primary-color-text!important;
}

body {
  padding : 0 0 120px 0;
  margin : 0;
  font-family: Roboto, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  margin : 20px;
  display: flex;
}

.standardPadding {
  padding: 10px 20px 10px;
}

.imgScaleDown {
  object-fit: scale-down;
  max-width: 100%;
  margin: auto auto;
  filter: drop-shadow( 0 0 1px black);
  vertical-align: middle;
}

.standardMargin {
  margin: 0% auto;
  max-width: 1100px;
}

.verticalMargin {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.innerMargin {
  margin: 20px;
}

.mat-dialog-container {
  background: $background-medium-dark !important;
  color: $primary-text-color !important;
}

.mat-toolbar.mat-primary {
  background: $background-dark !important;
  color: $primary-text-color !important;
}

.mat-input-element {
  color: $primary-text-color !important;
  caret-color: $secondary-text-color !important;
}

.standardMatVDivider {
  border-right-color: $divider-color!important;
  border-right-style: solid!important;
  border-right-width: 2px!important;
}

.standardMatHDivider {
  border-top-color: $divider-color!important;
  border-top-style: solid!important;
  border-top-width: 2px!important;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mat-standard-chip {
  color: $primary-text-color !important;
  background-color: $background-light !important;
  min-height: 22px !important;
}

.darkBackground {
  width: 100%;
  margin-top: 0;
  background-color: $background-dark !important;
}

.bottonPadding {
  padding-bottom: 50px !important;
}

.topPadding {
  padding-top: 30px !important;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 520;
}
.subTitle {
  font-size: 1.5rem;
  text-align: center;
}

.background-primary {
  background-color: $background-medium!important;
  }
.background-accent {
  background-color: $accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}
