<div fxLayout = "column">
    <div fxLayout = "row">
        <button mat-raised-button (click) = "OnPlay()" class = "play-button"
            disabled = "{{ gameIsRunning }}">
            PLAY
        </button>
        <div fxFlex></div>
        <button mat-raised-button class = "dummyButton">
            SCORE: {{ score }}
        </button>
        <div fxFlex = "5"></div>
        <button mat-raised-button class = "dummyButton">
            HIGHSCORE: {{ highscore }}
        </button>
    </div>
    <div id = "canvas-container">
        <canvas #board class = "game-board" 
            height = "{{cROWS * cBLOCK_SIZE}}" 
            width = "{{cCOLS * cBLOCK_SIZE}}">
        </canvas>
    </div>
</div>