@import '../../variables';
@import '../../mixins';


.profile {   
  border-radius: 10%;
}

.img {
    max-height: 180px !important;
    margin: 0 0 !important;
}

.title, .subTitle {
    text-align: center;
}